@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
  text-align: center;
  height: 90vh;
  /* width: 90vw; */
  margin: 2rem auto;
  display: grid;
  grid-template-areas: "header header header"
                        "left main right"
                        "footer footer footer";
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #282c34;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.App-logo {
  width: 350px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
.App-link:visited {
  color: #61dafb;
}
.App-link:hover {
  color: cadetblue;
}

.cell-header {
  grid-area: header;
}
.cell-left {
  border-radius: 25px;
  background: orangered;
  /* background-image: url(./assets/PokemonImages/PokemonCardTemplate.png); */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  border: 2px solid rgb(19, 255, 255);
  transition: 100ms;
  /* margin: 5%;
  margin-left: 0%; */
  grid-area: left;
}
.cell-left:hover {
  border: 3px solid rgb(19, 255, 255);
}
.cell-left img {
  padding: 5%;
}
.cell-main button {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 150px;
  transition: all 0.1s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 5%;
}
.cell-main button:hover {
  border: 2px solid rgb(19, 255, 255);
}
.cell-main .damage-button:hover {
  border: 3px solid rgb(255, 49, 34);
}
.cell-main .defend-button:hover {
  border: 3px solid rgb(19, 255, 255);
}
.cell .card-name {
  float: left;
  padding-top: 8%;
}
.cell .card-type {
  float: right;
  padding-top: 8%;
}
.cell .strokeAtt {
  -webkit-text-stroke: .5px black;
  font-size: large;
}
.cell-main {
  background-image: url(./assets/PokemonImages/PokemonArena.png);
  background-size: cover;
  grid-area: main;
}
.cell-main .stroke {
  -webkit-text-stroke: .5px black;
  font-size: large;
}
.cell-right {
  background: rgb(235, 176, 28);
  /* background-image: url(./assets/PokemonImages/PokemonCardTemplate.png); */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  border-radius: 25px;
  border: 2px solid rgb(255, 49, 34);
  transition: 100ms;
  /* margin: 5%; */
  grid-area: right;
}
.cell-right:hover {
  border: 3px solid rgb(255, 49, 34);
}
.cell-right img {
  padding: 5%;
}
.cell-footer {
  /* background: blueviolet; */
  grid-area: footer;
  padding: 1%;
  border: 2px solid rgb(170, 105, 255);
  border-radius: 5px;
}
.cell {
  color: white;
  font-size: small;
  text-align: center;
  padding: 3rem;
}


